.tab{
    background-color: rgb(61, 188, 61);
    display: flex;
    /* justify-content: space-around; */
    gap: 53%;
    height: auto;
    /* border-bottom: 1px solid rgb(147, 147, 147); */
    margin-bottom: 0.7rem;
}

.icon {
    color: white;
    display: inline;
    /* color: rgb(61, 188, 61); */
    font-size: 2.5rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.name {
    margin-top: 0.2rem;
    margin-bottom: 1.2rem;
    margin-left: 5%;
}

.hackernews{
    display: inline;
    vertical-align:bottom;
    color: white;
    /* color: rgb(61, 188, 61); */
}

.latest-news{
    margin-bottom: 1rem;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin-top: 1.2rem;
    /* margin-right: -15%; */
}

ul li {
    display: inline;
}

ul li a {
    /* text-decoration: none; */
    padding: 0.2em 1.1em;
    margin: 0 0 0 -6px;
    /* color: rgb(61, 188, 61); */
    font-weight: 500;
    color: white;
}

.icon2 {
    color: rgb(61, 188, 61);
    font-size: 1rem;
    margin-left: 0.3rem;
    vertical-align:text-top;
}

.filters{
    padding-top: 0.8rem;
    padding-left: 24%;
    margin-bottom: 2rem;
}


.input {
    /* border-radius: 4px; */
    color: rgb(151, 148, 148);
    background: transparent;
    color: grey;
    border: 0px solid transparent;
    border-bottom: 1px solid rgb(61, 188, 61);
    font-size: 1.1rem;
}

.input:focus {
    outline: none;
}

.more-btn{
    background: transparent;
    font-size: 1.1rem;
    border: 0px solid transparent;
    margin-left: 47%;
    color: rgb(61, 188, 61);
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem ;
    cursor: pointer;
}

form {
    display: inline;
}

label{
    font-size: 1rem;
}

select {
    margin-right: 1rem;
    margin-left: 1rem;
}

.search-btn{
    margin-left: 0.6rem;
    cursor: pointer;
    padding-top: 3px;
    border: 1px solid rgb(61, 188, 61);
    color:rgb(61, 188, 61);
    font-weight: 600;
    font-size: 1rem;
}

.dropdown{
    border: 1.5px solid rgb(61, 188, 61);
    font-size: 1rem ;
    color: rgb(61, 188, 61);
}

.dropdown:focus {
    outline: none;
}